<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" (click)="test()"></ion-icon>
    <ion-title>text</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  
  <!-- <ion-button (click)="photo1()">Next</ion-button>
<ion-button (click)="photo()">Take photo</ion-button>

<ion-list *ngFor="let photo of photos">
<ion-item>
    <img src={{photo}} style="width: 200px; height: 150px;">  photos : any[];
</ion-item>

  </ion-list> -->
<!-- <div class="message my-msg" >

  <h4>{{tem.name}}</h4>
  <p>{{tem.userID}}</p>
  <p>blah blah text ... </p>
  <p>{{tem.message}}</p>
  <div class="time" text-right>
    <br>
    {{tem.time | date : 'short'}}
  </div>
</div> -->
<ion-grid ><!-- *ngIf="afAuth.auth.currentUser" -->
  <ion-row ><!-- *ngFor="let tem of temp | async" -->
    <ion-col size="9" class="message other-msg" ><!-- *ngIf="tem.userID !== afAuth.auth.currentUser.uid" -->
        <!-- <h4><strong>{{tem.name}}</strong></h4>
        <p><strong>{{tem.userID}}</strong></p> -->
        <h4><strong>tem.name</strong></h4>
        <p><strong>tem.userID</strong></p>
        <p>blah blah text ... </p>
        <p>tem.message</p> <!-- <p>tem.message</p> -->
        <div class="time" text-right>
          <br>
          <!-- {{tem.time | date : 'short'}} -->time | date : 'short'
        </div>
      </ion-col>

      <ion-col offset="3" size="9" class="message my-msg" ><!-- *ngIf="tem.userID === afAuth.auth.currentUser.uid" -->
        <!-- <h4><strong>{{tem.name}}</strong></h4>
        <p><strong>{{tem.userID}}</strong></p> -->
        <h4><strong>tem.name</strong></h4>
        <p><strong>tem.userID</strong></p>
        <p>tem.message</p> <!-- <p></p>{{tem.message}} -->
        <p>blah blah text ... </p>
        <div class="time" text-right>
          <br>
          <!-- {{tem.time | date : 'short'}} -->time | date : 'short'
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-row>
        <ion-col size="2" >
            <ion-icon name="happy" (click)="sendEmj()"></ion-icon>
          </ion-col>
        
      <ion-col size="8">
       
        <ion-textarea autosize maxRows="3"  >

        </ion-textarea>
      </ion-col>
      <ion-col size="2" >
          <ion-icon name="send" color="primary" (click)="sendMsg()" ></ion-icon>
          
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
</ion-content>
