.message{
    padding:10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}
.other-msg{
   // background: var(--ion-color-secondary-tint);
   // color:#fff;
    position: relative;
    margin: 20px 5px 0px;
    max-width: 80%;
align-self: flex-end;
padding: 6px 10px 7px;
border-radius: 15px 15px 15px 0px;
background: rgb(117, 221, 108);
font-size: medium;
//line-height: 1.4;


}
.my-msg{
   // background: var(--ion-color-medium);
    // color:#fff;
    position: relative;
    margin: 20px 5px 0px;
    max-width: 80%;
align-self: flex-start;
padding: 6px 10px 7px;
border-radius:15px 15px 0px;
background:#dfdfdf;
font-size: medium;
line-height: 1.4;

}
.time{
    color: black;
    //float: right;
    font-size: small;

}
.msg-input{
    width: 100%;
    border :1px solid var(--ion-color-medium);
    border-radius:10px;
    background: #fff;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
}
.msg-button{
    --padding-start: 0.5em;
    --padding-end: 0.5em;
}
ion-icon{
    zoom: 2.00;
    right: 10px;
    position: absolute;
    bottom: 11px;
    align-content: center;
}
.main{
    position: relative;
    
}