<ion-header >
  <ion-toolbar padding>
    <ion-title >
      Chats 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-item (click)="test()">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
    <div class="container"> 
    <ion-badge color="primary" class="badge">3</ion-badge>
    <span class="time">11:49</span>
  </div>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
    <ion-badge color="primary">11</ion-badge>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
    <ion-badge color="primary">6</ion-badge>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
    <ion-badge color="primary">2</ion-badge>
  </ion-item>
</ion-list>
</ion-content>
