<ion-content [fullscreen]="true">
  <!-- <span class="header" (click)="login()">Skip</span> -->
  <div class="header" (click)="login()">Skip</div>
  <ion-slides pager="true"  class="body">
    
    <ion-slide >
    <ion-card class="slide-item"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="slide-item1">
        <p>...</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="slide-item2">
        <p>...</p>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>