<ion-header>
  <ion-toolbar >
    <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <h3 class="header">Login </h3> -->
  <div class="main">
    <ion-card>
      <form [formGroup]="register" >
      <ion-item class="ion-activated">
        <ion-label position="floating"> First Name </ion-label>
        <ion-input [(ngModel)]="register1.Fname" placeholder="Enter First Name"></ion-input>
      </ion-item>
    
      <ion-item >
        <ion-label position="floating"> Last Name </ion-label>
        <ion-input [(ngModel)]="register1.Lname" placeholder="Enter Last Name"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating"> Email </ion-label>
        <ion-input [(ngModel)]="register1.email" placeholder="Enter Email"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label position="floating"> Contact Number</ion-label>
        <ion-input [(ngModel)]="register1.phone" placeholder="Enter Contact Number"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label position="floating"> Address </ion-label>
        <ion-input [(ngModel)]="register1.address" placeholder="Enter Address"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label position="floating"> Password </ion-label>
        <ion-input [(ngModel)]="register1.password" placeholder="Enter Password" type="password"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label position="floating"> Confirm Password </ion-label>
        <ion-input placeholder="Re-enter Password" type="password"></ion-input>
      </ion-item>
      </form>
    </ion-card>
    <br>
    <ion-button expand="block" fill="outline" type="submit" (click)="run()">Sign Up</ion-button>
    <p>Alreadyhave an account, click <a [routerLink]="['/login']">here</a>.</p>
  </div>

</ion-content>
